.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 5px;
}

.wrapper img {
  object-fit: cover;
  border-radius: 3px;
}

.description {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.wrapper h3 {
  margin-bottom: 0;
}
