.wrapper {
  position: relative;
}

.cartList {
  position: absolute;
  padding: 16px;
  right: 0;
  top: 100%;
  margin-top: 8px;
  min-width: 300px;

  background: red;
}

.cartList > div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4px;
}
